@import url('./styles/variable.css');

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.text-bold {
  font-size: var(--font-size-large);
  color: var(--text-dark);
}

.btn {
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  border: none;
  font-size: var(--font-size-medium);
  transition: background-color 0.2s ease;
}

.btn-primary {
  background-color: var(--accent-color);
  color: white;
}

.btn-primary:hover {
  background-color: var(--accent-hover); 
}

.btn-primary:disabled {
  background-color: var(#3cd0e2);
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-danger {
  background-color: transparent;
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}

.btn-danger:hover {
  background-color: var(--danger-hover);
  color: var(--text-color);
}

.flex {
  display: flex;
  gap: var(--spacing-small);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}